<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/admin.css">
</head>
<body>
    <form action="/adminsearch" method="post">
        <input type="text" name="carID" placeholder="Car ID">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="date" name="reservationDate" placeholder="Reservation Date">
        <button type="submit">Search</button>
    </form>
</body>
</html>


