<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Car Rental Website</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        /* Add this style block to your existing head section */
        .book-now-button {
        background-color: black;
        color: orange;
        border: 2px solid red;
        border-radius: 5px;
        padding: 3px 15px; /* Adjust padding as needed */
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin-top: 10px; /* Adjust margin as needed */
        cursor: pointer;
      }
      </style>
      <style>
        /* Existing styles... */
    
        /* Style for h2 elements */
        h2 {
            color: red;
        }
    
        /* Style for p elements */
        p {
            color: orange;
        }
        label {
        color: orange;
    }
    </style>
    

  </head>


  <body>

    

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Car Rental <em>Website</em></h2></a>
                
    </header>


     <!-- Page Content -->
     <div class="page-heading about-heading header-text" style="background-image: url(/images/heading-6-1920x500.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
   
    <form action="/adminsearch" method="post">
        <input type="text" name="carID" placeholder="Car ID">
        <input type="text" name="lastName" placeholder="Last Name">
        <input type="date" name="reservationDate" placeholder="Reservation Date">
        <button class="book-now-button" type="submit">Search</button>
    </form>
</div>
</div>
</div>
</div>
</div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="assets/js/custom.js"></script>
<script src="assets/js/owl.js"></script>

</html>


