<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RentWheels</title>
  <link rel="stylesheet" href="/styles/header-footer.css">
</head>
<body>

<header>
  <div class="navBar">
    <h1>RentWheels</h1>
     <!-- Navigation Bar -->
     <nav>
      <ul>
          <li><a href="/myreservations">My Reservations</a></li>
          
      </ul>
  </nav>






    <form>
      <input type="text" name="search" placeholder="Search for a car...">
      <button type="submit">Search</button>
    </form>
  </div>
</header>

</body>
</html>
